.about-grid{
    display:grid;     
    grid-template-columns: repeat(13, 1fr);
    column-gap: 1vh;
    row-gap: 1vh; 
    padding: 1vh;
    margin: 0; 

    width:100%;
}

#teamIntroduction{
    grid-column: 3/7;
    grid-row:2; 

    color: #f2f2f2;
    border-color:white; 
    border:2vw solid rgb(145, 145, 145);

    font-size:1.2vw;
    text-align: center;

    background-color: rgba(0,0,0,0.5);
}

#teamIntroduction{
    padding: 8px 12px;
    bottom: 0vh;
    height:35vh; 
    align-items:center; 
}

#fourth-title{
    grid-column:7/11; 
    grid-row:1; 
    justify-self:center; 
}

#team-photo{
    grid-column:7/11; 
    grid-row:2; 

    justify-self:center; 
    align-self:center; 
    margin-left:3vw; 
    
    height:45vh;
    width:30vw; 

    border:1vw solid white;
}

.textBox{
    display:grid; 
    background-color:red; 
}


/*Slidesow stuff*/
    #fourth-slideshow{
        grid-column:2/8; 
        grid-row:5; 
        align-self:center;

        margin-top:2vh; 
        margin-left:5vw; 
    }

    #fourth-cap{
        width:20vw; 
        height:15vw; 
        margin-left:34vw; 
    }
