.footer{
    background-color: #555;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.2vw 2vw;
    width: 100%;
    position: relative; /* Add this */
    margin-top: 5vh; /* Add space above */
    clear: both;
}

#foots{
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-size: 1vw;
}