.robot-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    column-gap: 3vh;
    row-gap: 5vh; 
    padding: 5vh;
    margin: 0 10vw; 
}

#first-slideshow {
    grid-column: 1 / 2;
}

#second-slideshow {
    grid-column: 2 / 3;
    grid-row:2; 
}

#third-slideshow{
  grid-column:1/2;
  grid-row:3; 
}

.slideshow-container {
  width: fit-content;
  height: fit-content;
  display: block; 
  position: relative;
  margin: 0;
}

.mySlides-gallery {
  display: none;
  position: relative; 
  width: 30vw; 
  height: 50vh;
}

/* The images inside slides */
.mySlides-gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  align-items:center;
  justify-content:center;

}

/* Caption text */
  .text{
    color: #f2f2f2;
    border-color:white; 
    border:2vw solid rgb(145, 145, 145);
    font-size: clamp(0.9vw,1vw,1.1vw);
    text-align: center;
    background-color: rgba(0,0,0,0.5);
  }

  /*Sizing of box*/
  .text{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 8px 12px;
    position: absolute;
    bottom: 0vh;
    width: 29.2vw; /*need to figure out how to embed text box into grid...this formatting changes depending on screen*/
    height:35vh; 
  }

/*Caption placement*/
  .first-cap{
    left:34.5vw; 
  }

  .second-cap{ 
    right:34.5vw; 
  }

  #two-1{
    font-size:0.95vw; 
  }

  .third-cap{
    left:34.5vw; 
  }

/*The title formatting*/
  .titles {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 2.4rem;
    color: white; 
    text-align: center;
    width: 100%; /* Same width as caption */
    margin-bottom: 0.5rem; 
  }

  #first-title{
    left: 43.1vw; 
  }

  #second-title{
    right: 43vw;
  }

  #onshape-logo{
    height:100%;
    width:100%;
    
    object-fit:contain;

    align-content:center; 
  }

  #third-title{
    left:43.1vw; 
  }


/*The next and prev buttons*/
  .prev, .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      transform: translateY(-50%); /*center*/
      width: auto;
      padding: 1vh 0.5vw;
      color: white;
      font-weight: bold;
      font-size: 24px; 
      transition: 0.6s ease;
      background-color: rgba(0,0,0,0.5);
      text-decoration: none;
      border-radius: 3px 0 0 3px;
      z-index: 10;
  }
  .next {
    right: 0px; 
  }
  .prev {
    left: 0px;
  }
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }


/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}