body{
    background: radial-gradient( rgb(50, 50, 50), black );
    color: rgb(255, 204, 1);
    overflow-x: hidden; 
}

h1{
    color:rgb(255, 204, 1);
    display: grid; 
    place-content: center; 
    font-size:4.5rem; 
    font-family: "Lucida Console", "Courier New", monospace;
}

h2{
    display: grid;
    place-content: center; 
    font-size: 2.3rem;
    font-family: "Times New Roman", Times, serif;

}

h3{
    color:rgb(255, 204, 1);
    margin-top:0px;
    margin-bottom:0px;  
    display:grid; 
    place-content: center; 
    font-size: 4rem; 
}

hr{
    border-bottom: 1px dashed white; 
    width:75%;
    margin-top: 3vh; 
}

p{
    font-family: "Times New Roman", Times, serif;
    display: grid; 
    place-content: center; 
}

#teamIntroduction{
    grid-column: 2;
}

.about-us{
    display: grid; 
    grid-template-columns: repeat(3, 33vw);
    justify-items: start; 
    margin-left:1vw; 
    margin-top: 10vh; 
    gap:3vw; 
}

#logo{
    width: 30vw;
    height:50vh; 
}

