/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
  height: 100%;
  margin: 0;
  font-family: "Times New Roman", Times, serif;
}

/* Style tab links */
.tablink {
  font-family: "Comic Sans MS", "Comic Sans", cursive;

  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 1.2rem;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  min-height: 100%;
}

#Home {
     
}
#robot-gallery { 
}
#Contact {

}
#About {

}